<some-1></some-1>
<div class="content-view__ctrl">
    <div class="content-view__order">
        <label
            class="content-view__order-label"
            for="orderSelect"
        >
            Order:
        </label>
        <select
            class="content-view__order-select"
            name="orderSelect"
            ng-model="sort.currentOrder"
        >
            <option
                ng-repeat="option in sort.orderOptions"
                value="{{ option }}"
            >
                {{ option }}
            </option>
        </select>
    </div>

    <div class="content-view__date-format">
        <label class="content-view__date-format-label">
            Only Date
            <input
                class="content-view__date-formate-checkbox"
                type="checkbox"
                ng-model="sort.isOnlyDate"
            >
        </label>
    </div>

    <div class="content-view__search">
        <label class="content-view__search-label">
            Search
            <input
                class="content-view__search-input"
                type="text"
                ng-model="sort.searchQuery"
            >
        </label>
    </div>
</div>
<ul class="content-view__items-list" ng-repeat="item in model.items">
    <li class="content-view__item">
        <span class="elements-view__item-title">Title: {{ item.title }}</span>
        <span class="content-view__item-date">Date: {{ item.date }}</span>
    </li>
</ul>